<h1>All Entries</h1>
<br>
<table id="allentries">
    <th>
        Entry Number
    </th>
    <th>
        Subject Pokémon
    </th>
    <th>
        Author
    </th>
    <%Entry.all.each do |entry|%>
        <tr>
            <td>
                <a href='/entries/<%=entry.id%>'>Entry #<%=entry.id%></a>
            </td>
            <td>
                <a href='/pokemon/<%=entry.pokemon.slug%>'><%=entry.pokemon.species.capitalize%></a>
            </td>
            <td>
                <a href='/assistants/<%=entry.assistant.slug%>'><%=entry.assistant.name%></a>
            </td>
        </tr>
    <%end%>
</table>