<h1>Entry #<%=@entry.id%></h1>
<h2>Regarding <%= @entry.pokemon.species %> <a href='/pokemon/<%= @entry.pokemon.slug %>'><img src="https://i.ibb.co/DVjhVK0/visit.png" alt="visit" class="rounded-corners"></a></h2>
<p><%=@entry.content%></p>
<br>
<% if logged_in? && current_user == @entry.assistant%>
    <a href='/entries/<%=@entry.id%>/edit'><img src="https://i.ibb.co/M5dYSfj/edit.png" alt="edit" class="rounded-corners"></a>
    <form action='/entries/<%=@entry.id %>/delete' method='POST'>
        <input type='hidden' name='_method' value='delete' id='hidden'>
        <input type='submit' id="delete" value="">
    </form>
<% end %>