<h1>Assistant <%= @assistant.name %>'s Entries</h1>
<br><br>
<table id='assistants'>
    <tr>
        <th>
            Entry
        </th>
        <th>
            Subject Pokémon
        </th>
    </tr>
    <% @assistant.entries.each do |entry| %>
        <tr>
        <td>
            <a href='/entries/<%= entry.id %>'>Entry #<%= entry.id %></a>
        </td>
        <td>
            <a href='/pokemon/<%= entry.pokemon.species %>'><%= entry.pokemon.species %></a>
        </td>
        </tr>
    <% end %>
</table>