<h1><%=@pokemon.species%></h1>
<h2>
    Primary Type: <a href="/pokemon/types/<%= @pokemon.type1.downcase %>"><%= @pokemon.type1 %></a>
    <%if @pokemon.type2 != "None" && @pokemon.type1 != @pokemon.type2%>
        <br>Secondary Type: <a href="/pokemon/types/<%= @pokemon.type2.downcase %>"><%= @pokemon.type2 %></a>
    <% end %>
</h2>
<p/><p/>
<h1>All Entries For <%=@pokemon.species%></h1>
<% if @entries.empty?%>
    <table id="entry">
        <tr>
        <td>
            <h3>Sorry, there are currently no entries for this Pokémon!</h3>
        </td>
    </table>
    <p/><p/>
<% else %>
    <% @entries.each do |entry| %>
        <table id="entry">
            <tr>
            <td>
            <p><a href="/entries/<%=entry.id%>"><h3 style="text-align: left;">Entry #<%=entry.id%></h3></a></p>
            <p><%=entry.content%></p>
            <p style="text-align: right;">~<a href="/assistants/<%=entry.assistant.slug%>"><%=entry.assistant.name%></a></p>
            </td>
        </table>
        <p/><p/>
    <% end %>
<% end %>