<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to the Pokémon Research Database!</h2>

    <div class="content">
      <% if !logged_in? %>
        <p>Welcome to Professor Sonia's Pokémon Research database! Here, we strive to take as much
        note of the behaviors and activities of Pokémon in the world around us! If you are interested
        in assisting with our research, please click on sign-up! If you are already one of the assistants
        here, please login! If neither apply to you, please wait for our reports to be made public!</p>
      <% else %>
        <p>Welcome to Professor Sonia's Pokémon Research database! Here, we strive to take as much
        note of the behaviors and activities of Pokémon in the world around us! We appreciate you joining
        our cause and helping us make Pokémon history! Use the navigation links above to continue our work!</p>
      <% end %>

      <p style="text-align: right;">Cheers!&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
      <p style="text-align: right;"><img src="https://i.ibb.co/jrVNL2R/sonia-sig.png" alt="sonia-sig" border="0"></p>
    </div>

    <div class="sidebar">
      <h3>Featured Pokémon</h3>
      <% poke =  Pokemon.all.sample %>
      <% if %w(A E I O U a e i o u).include?(poke.type1[0])%>
        <%word = 'an'%>
      <% else %>
        <%word = 'a'%>
      <% end %>
      Check out <%= poke.species %>!<br>
      <%if poke.type2 != "None"%>
      It's <%=word%> <%= poke.type1 %> and <%= poke.type2%> type!
      <%else%>
      It's <%=word%> <%= poke.type1 %> type!
      <% end %>
      <br>
      It has <%= poke.entries.count%> <%= 'entry' if poke.entries.count == 1%> <%= 'entries' if poke.entries.count != 1%> written about it.<br>
      <% if logged_in? %>
        Check it out by clicking <a href="/pokemon/<%= poke.slug %>">HERE</a>!
      <%else%>
        Please <a href="/login">Log In</a> to view more information!
      <% end %>

    </div>

  </div>
</div>
